body{
    background-color:#FDFDFD;
    color:blue;
}
h1{
     font-family: arial;
     font-size: 45px;
     color:pink;
}
#pepe{
     width: 240px;
     height: 220px;
     border-radius: 50%;
     border: 2px solid #ffh000;
}

sssimg:hover {
  box-shadow: 0 0 2px 1px blue;
}






sss#img1{
     width: 100px;
     height: 100px;
     border-radius: 25%;
}
